@page
@model BankMe.Pages.AccountHolders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of Account Holders</h1>

<p>
    <a asp-page="Create">Create New Account Holder</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountHolder[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountHolder[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountHolder[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountHolder[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountHolder[0].StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountHolder[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountHolder[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountHolder[0].ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountHolder[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountHolder[0].SocialSecurityNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AccountHolder) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialSecurityNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AccountHolderId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AccountHolderId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AccountHolderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
