@page
@model ProjectApp.Pages.Projects.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.WorkerCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.WorkerCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.WorkerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.WorkerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.PM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.PM.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Project.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
